<div #home></div>

<body>
<section class="gradient-red-yellow text flex flex-row pt-44">
  <div class="bg-amber-50 ml-28 w-1 h-28 rounded-2xl"></div>
  <div class=" text-black  ml-12 mr-10 ">
    <p class="text-black text-3xl font-extralight  ">
      Hey there, I am
    </p>
    <span class="text-7xl font-medium text-white">Oliver Norton</span>
    <p class="text-black text-3xl font-extralight  ">
      A Student Studying
      <span class="typewriter text-gray-50 underline decoration-2">
        Computer Science
      </span>

      <br/>
      <span class="text-md">
      at Avans University of Applied Sciences
      </span>

    </p>

  </div>

</section>

<div #about class="absolute mt-80"></div>

<div class="spacer layer1"></div>
<app-about-me></app-about-me>


<div class="spacer layer2 flip"></div>

<div class="pink h-30"></div>

<div #experience class="absolute mt-28 "></div>
<div class="spacer layer3"></div>

<div class="absolute -mt-48 w-full">
  <div class=" text-center">
  <span class="text-gray-500 border-b-2 uppercase">Experience</span>
  <h1 class="  ">View my projects</h1>
  </div>
  <app-project-list class="w-full   bg-white "></app-project-list>
</div>

<div class="spacer layer3 flip mt-44"></div>
<div #github class="absolute mt-[370px] "></div>

<div class="spacer layer3"></div>

<div class=" text-center">
  <span class="text-gray-500 border-b-2 uppercase">Github</span>
  <h1 class="  ">View my Github statistics and profile</h1>
</div>
<app-github></app-github>


<div class="spacer layer3 flip"></div>


</body>
<div #project></div>
<div #github></div>
<div #contact></div>
