<div #home> </div>

<body>
<section class="gradient-red-yellow text flex flex-row">
  <div class="bg-amber-50 ml-28 w-1 h-28 rounded-2xl"></div>
  <div class=" text-black  ml-12 mr-10 ">
    <p class="text-black text-3xl font-extralight  ">
      Hey there, I am
    </p>
    <span class="text-7xl font-medium text-white">Oliver Norton</span>
    <p class="text-black text-3xl font-extralight  ">
      A Student Studying
      <span  class="typewriter text-gray-50 underline decoration-2">
        Computer Science
      </span>

      <br/>
      <span class="text-md">
      at Avans University of Applied Sciences
      </span>

    </p>

  </div>

</section>
<div  #about> </div>


<div class="spacer layer1"></div>

<section>
<div class="h-80">

</div>
  <h1>Nice Curves 3!</h1>
  <p>A website is like a road. The more curves it has the more interesting it is.</p>
</section>

<div class="spacer layer2 flip"></div>


<div class="spacer layer2"></div>

<section class="blobs">
  <h1>Nice Curves 4!</h1>
  <p>A website is like a road. The more curves it has the more interesting it is.</p>
</section>
</body>
<div  #experience> </div>
<div  #project> </div>
<div  #contact> </div>
