<div #navbar class="">
  <div #corner class="gradient-bg sticky top-0 z-50 p-6 backdrop-filter backdrop-blur-sm shadow-lg">
    <nav class="flex justify-between items-center">
      <a (click)="scrollToElement('home')" class="text-white text-2xl ml-12 font-light"> &lt; Oliver Norton / &gt; </a>
      <div class="rounded-lg flex space-x-4 align-middle items-center">
        <a (click)="scrollToElement('about')" class="text-gray-300 hover:text-white">ABOUT ME</a>
        <a (click)="scrollToElement('experience')" class="text-gray-300 hover:text-white">EXPERIENCE</a>
        <a (click)="scrollToElement('github')" class="text-gray-300 hover:text-white">GITHUB</a>
      </div>
    </nav>
  </div>
</div>
