.p-6 {
  padding: 24px;
  transition: padding 0.3s ease-in-out;
}


.rounded {
  border-radius: 30px;
  transition: border-radius 0.3s ease-in-out;

}

.p-6, .rounded {
  transition: all 0.3s ease;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-bg {
  background: linear-gradient(270deg, rgba(52, 40, 38, 0.65), rgba(33, 31, 23, 0.76));
  background-size: 200% 200%;
  animation: gradient 8s ease-in-out infinite;
}
