
<div class="sm:flex items-center mb-16">
  <div class="sm:w-1/2 p-10 ml-24">
    <div class="image object-center text-center">
      <img class=" h-72" src="../../../assets/ProfilePicture.png" alt="Profile Picture">
    </div>
  </div>
  <div class="sm:w-1/2 p-5 mr-24">
    <div class="text">
      <span class="text-gray-500 border-b-2  uppercase">About me</span>
      <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">About <span class="text-white">Oliver Norton</span>
      </h2>
      <p class="text-gray-200">
        A 21-year-old student enrolled in the Computer Science program at Avans University of Applied Sciences, I am deeply passionate about exploring the vast realms of technology and its applications.
        Eager to delve into the intricate complexities of software development, embedded programming and system engineering.
      </p>
    </div>
  </div>
  <div
    class="inline-block h-[260px] min-h-[1em] w-0.5 self-stretch bg-neutral-100 dark:bg-white/10 mr-14"></div>
  <div class="sm:w-1/2 p-5 mr-28">
    <div class="text">
      <span class="text-gray-500 border-b-2  uppercase">Contact me</span>
      <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">Reach <span class="text-white">Oliver Norton</span>
      </h2>
      <p class="text-gray-200">
        Find me on one of the following platforms
      </p>
      <app-social-icons></app-social-icons>
      <br>
      <p>
      </p>
    </div>
  </div>
</div>
